<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
  
<form [formGroup]="createForm" class="create-form">
  <mat-card>
    <mat-card-actions align="center">
  
  <h3>Login Page</h3>
  
  <mat-card-content fxLayout="column">
  
    <mat-form-field>
      <input type ="text" matInput placeholder="Username" formControlName="uname" #uname>
    </mat-form-field>
  <br>
  
  <mat-form-field>
    <input type="password" matInput placeholder="password" formControlName="pwd" #pwd >
  </mat-form-field>
  <br>
  
  <mat-form-field>
      <input type= "text" matInput placeholder="User" formControlName="user" #user>
  </mat-form-field>

  </mat-card-content>
    <button type="submit" (click)="login(uname.value,pwd.value,user.value)"[disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Login</button>
  </mat-card-actions>
  
  </mat-card>
</form>  
  
  </div>
  
  