<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
<mat-card>
    <mat-card-actions align="center">
  
  <h3>Login Page</h3>
  
  <mat-card-content fxLayout="column">
  
    <mat-form-field>
      <input type ="text" matInput placeholder="Username" ng-model = "Username">
    
    </mat-form-field>
  <br>

  <br>
  
    <mat-form-field>
      <input type="password" matInput placeholder="password" ng-model = "password">
    </mat-form-field>
    <br>
  
    <mat-form-field>
      <input type= "text" matInput placeholder="User" ng-model = "User">
  </mat-form-field>

  </mat-card-content>
    
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    
      </mat-card-actions>
  
  
  </mat-card>
  
  
  </div>
  
  