<div>
    <br>
    <mat-card>
      <section class="mat-typography">
        <h3>Add New Record</h3>
        
      </section>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="createForm" class="create-form">
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Item Name" formControlName="title" #title>
          <!--<mat-error *ngIf="createForm.controls['title'].errors.required">
            Title is <strong>required</strong>
          </mat-error>-->
        </mat-form-field>
        <br>
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Batch Number" formControlName="responsible" #responsible>
        </mat-form-field>
        <br>

        <mat-form-field class="field-full-width">
          <input matInput placeholder="Quantity" formControlName="description" #description>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-select placeholder="Category" formControlName="severity" #severity>
              <mat-option value="House Hold">House Hold</mat-option>
              <mat-option value="Dry Food">Dry Food</mat-option>
              <mat-option value="Beverages">Beverages</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-divider></mat-divider>
        <br><br>
        <button mat-raised-button color="accent" routerLink="/slist">Back</button>&nbsp;
        <button type="submit" (click)="addIssue(title.value, responsible.value, description.value, severity.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Save</button>
      </form>
    </mat-card>
  </div>